.bank-header {
  background-color: #044c8c;
  padding: 10px 0;
  border-bottom: 4px solid #f58224; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bank-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 ;
  padding: 0 20px;
}

.logo-container {
  flex-shrink: 0;
}

.logo {
  max-width: 5rem;
  height: auto;
}

.title-container {
  flex-grow: 1;
  text-align: center;
}

h1 {
  font-size: 26px;
  color: #ffffff;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.mandatory-note {
  font-size: 14px;
  color: #ffffff;
  margin-top: 5px;
  font-style: italic;
}

.error-txt {
  color: #ff4c4c;
  text-align: center;
  margin-bottom: 1rem;
}

.success-txt {
  color: green;
  text-align: center;
  margin-bottom: 1rem;
}
main {
  .margin-left {
    margin-left: 0.5rem;
  }
  input {
    text-transform: uppercase;
  }
  .radio-input {
    display: flex;
    align-items: center;

    label {
      margin: 0;
      margin-left: 0.5rem;
    }
  }
}

.helpText {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  color: grey;
  font-weight: 500;
}
.optionmsg {
  color: red;
}
.help-text {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.declartionMsg {
  color: green;
}
.exitcontainer {
  margin-left: 30%;
}
.Exitbitton {
  margin-left: 25%;
  margin-top: 20px;
}

.custom-modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  margin: 0 auto; 
}

@media (max-width: 576px) { 
  .custom-modal-dialog {
      width: 80%; /* Adjust width for mobile devices */
      max-width: none;
  }

  .modal-body {
      padding: 1rem; /* Adjust padding for mobile */
  }

  .modal-header {
      padding: 1rem; /* Adjust header padding */
  }
}
.textarea-like {
  height: 84px;
}
