header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .logo {
    height: 10rem;
  }

  h1 {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.error-txt {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
.success-txt {
  color: green;
  text-align: center;
  margin-bottom: 1rem;
}
main {
  .margin-left {
    margin-left: 0.5rem;
  }
  input {
    text-transform: uppercase;
  }
  .radio-input {
    display: flex;
    align-items: center;

    label {
      margin: 0;
      margin-left: 0.5rem;
    }
  }
}

.helpText {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  color: grey;
  font-weight: 500;
}
.optionmsg {
  color: red;
}
.help-text {
  font-size: 10px;
}
.declartionMsg {
  color: green;
}
.exitcontainer {
  margin-left: 30%;
}
.Exitbitton {
  margin-left: 25%;
  margin-top: 20px;
}
